<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.ac.mmu.project.doomsdayalgorithmtrainingapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".PracticeSelection"
            android:label="@string/practice_mode_item"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".StandardSelection"
            android:label="@string/standard_mode_item"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".TutorialMode"
            android:label="@string/tutorial_mode_item"
            android:parentActivityName=".PracticeSelection" />
        <activity
            android:name=".StandardMode"
            android:label="@string/standard_mode_item"
            android:parentActivityName=".StandardSelection" />
        <activity
            android:name=".PracticeMode"
            android:label="@string/practice_mode_item"
            android:parentActivityName=".PracticeSelection" />
        <activity
            android:name=".QuizMode"
            android:label="@string/quiz_mode_item"
            android:parentActivityName=".PracticeSelection" />
        <activity
            android:name=".ChallengeMode"
            android:label="@string/challenge_mode_item"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".TwoPlayerMode"
            android:label="@string/two_player_mode_item"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SettingsMode"
            android:label="@string/settings_item"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ScoreboardsMode"
            android:label="@string/scoreboards_item"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>